{% if site.data.settings.framework %}
<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.framework-title }}</h2>
      </div>
      {% for framework in site.data.settings.framework %}
      <div class="col-lg-4 col-md-6 text-center">
        <img src="{{ site.baseurl }}/assets/images/framework/{{ framework.icon }}" alt="{{ site.data.settings.framework-title }} icon" style="max-height: 96px">
        <p class="mb-0">{{ framework.date }}</p>
        <h4>{{ framework.name }}</h4>
        <h6 class="text-light">{{ framework.organization }}</h6>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ./framework -->
{% endif %}