{% if site.data.settings.tools %}
<!-- education -->
<section class="section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.tools-title }}</h2>
      </div>
      {% for tool in site.data.settings.tools %}
      <div class="col-lg-3 col-md-4 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <img class=" bg-white shadow rounded-circle d-block" src="{{ site.baseurl }}/assets/images/tools/{{ tool.icon }}" alt="{{ site.data.settings.tools-title }} icon" style="min-height: 32px; min-width: 32px;"> 
          </div>
          <div>
            <p class="text-dark mb-1">{{ tool.date }}</p>
            <h4>{{ tool.name }}</h4>
            <p class="mb-0 text-light">{{ tool.organization }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</section>
<!-- /tool -->
{% endif %}